.section-title{
  padding-bottom: 28px;
  text-align: center;
  font-size: 1.9rem;
}
.about{
  background-color: #f6f6f6;
  padding: 120px 0;
}
.about-content{
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.83;
}

.skills{
  padding: 120px 0;
}